<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<div *ngIf="success" class="alert alert-success">{{success}}</div>

<!--
<div id="car-list">
  <h2>The list of cars</h2>

  <div class="list-group">
     todo: tady napsat sablonu pro nacteni seznamu aut
    <li *ngFor="let car of cars">{{car.id}} --- {{car.model}}</li>

     todo: seznam nacist jako tabulku z PrimeNG 
  </div>
</div>
-->

<h2>{{ headline }}</h2>
<p-table [value]="cars">
  <ng-template pTemplate="header">
      <tr>
          <th>Id</th>
          <th>Model</th>
          <th>Price</th>
          <th>Delete</th>
          <th>Update</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-car>
      <tr>
          <td>{{car.id}}</td>
          <td>{{car.model}}</td>
          <td>{{car.price | currency:'CZK '}}</td>
          <td><button pButton type="button" icon="pi pi-times" iconPos="left" (click)="deleteCar(car.id)"></button></td>
          <td><button pButton type="button" icon="pi pi-caret-up" iconPos="left" (click)="updateCar(car.id)"></button></td>
      </tr>
  </ng-template>
</p-table>