<h2>{{ headline }}</h2>
<form [formGroup]="addCarForm" (ngSubmit)="addSubmit()">
    <div class="row">
        <div class="col-12">
            <div class="pt-2">
                <span class="p-float-label">
                    <input id="float-input" type="text" formControlName="model" pInputText>
                    <label for="float-input">Model:</label>
                </span>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-12">
            <div class="pt-2">
                <span class="p-float-label">
                    <input id="float-input" type="text" formControlName="price" pInputText>
                    <label for="float-input">Price:</label>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="pt-2">
                <button pButton type="submit" label="Save"></button>
            </div>
        </div>
    </div>
</form>
